<h1>Welcome to the Jungle</h1>

<p class="about-mission">
  Our mission is to deliver you unique quality plants that cant be found at your local shops.
</p>

<p class="about-text">
  During covid I needed a way to keep busy and still keep my horticulturist skills up, after realizing it is hard to find more unique plants at local stores, I went to shop online, and I could not believe the lack of plant shops! Thats when Jungle was born, I teamed up with my childhood bestfriend Rebecca and we got to work finding suppliers that can deliver us quality plants that will wow your guests. Shop around, see what you like!
</p>

<div class="container about-cards">
      <div class="card border-0 shadow about-card">
        <img src="https://source.unsplash.com/636RsYOIHW8/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="about-card-title mb-0">Sherry Young</h5>
          <div class="about-card-text text-black-50">Horticulturist</div>
        </div>
       </div>


      <div class="card border-0 shadow about-card">
        <img src="https://source.unsplash.com/ysiRKwI603Q/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="about-card-title mb-0">Rebecca Cloutier</h5>
          <div class="about-card-text text-black-50">Plant Biologist</div>
        </div>
      </div>


      <div class="card border-0 shadow about-card">
        <img src="https://source.unsplash.com/ffJ8Qa0VQU0/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="about-card-title mb-0">Little Jimmy</h5>
          <div class="about-card-text text-black-50">Jungle Mascot</div>
        </div>
      </div>
  </div>
