// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.about-cards {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.about-card {
  margin: 10px 0;
  max-width: 350px;
}

.about-card-text {
  font-size: large;
}

.about-card-title {
  font-family: "Montserrat";
  font-size: x-large;
}

.about-mission {
  font-size: x-large;
}